@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer locaizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Divers Hotel</title>

    @* RTL in if arabic Language *@
    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
    {
        <link rel="stylesheet" href="~/css/bootstrap-rtl/css/bootstrap-flipped.min.css" />
    }
    <link rel="stylesheet" href="~/css/fawsome.min.css" />
    <link rel="stylesheet" href="~/fontawesome-iconpicker/css/fontawesome-iconpicker.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <strong> @locaizer["Divers Hotel"]</strong>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a  class="nav-link text-info" asp-area="" asp-controller="Home" asp-action="Info">@locaizer["Info"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="RoomTypes" asp-action="Index">@locaizer["Room Type"]</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MealTypes" asp-action="Index">@locaizer["Meal Type"]</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="Index">@locaizer["All Reservations"]</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="RoomSeasonals" asp-action="Index">@locaizer["Room Season"]</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="MealSeasonals" asp-action="Index">@locaizer["Meal Season"]</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Seasons" asp-action="Index">@locaizer["Seasons"]</a>
                        </li>
                        
                    </ul>
                    <partial name="_LoginPartial" /> | 
                    
                    <partial name="_SelectLanguagePartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer  bg-dark ">
        <div class="container">
            <div class="text-center text-white">
                All Copyrights Reserved to- Divers Hotel &copy; 2022
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/fontawesome-iconpicker/js/fontawesome-iconpicker.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
