@model Divers_Hotel.Models.MealType
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Create";
}
<h1>@localizer["Creating New Meal Type"] </h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@localizer["Meal Type Name"]</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealPrice" class="control-label">@localizer["Out Season Price"]</label>
                <input asp-for="MealPrice" class="form-control" />
                <span asp-validation-for="MealPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@localizer["Save"]" class="btn btn-outline-success" />
                <i class="fa fa-home"></i>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">@localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
