@model IEnumerable<Divers_Hotel.Models.RoomType>
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer locaizer

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create" class="btn btn-outline-success">@locaizer["Create New Room Type"]</a>

</p>
<table class="table table-bordered table-hover text-center">
    <thead class="bg-secondary text-white text-center">
        <tr>
            <th>
                @locaizer["Room Type Name"]
                
            </th>
            <th>
                @locaizer["Out Season Price"]
            </th>
            <th>
                @locaizer["Controlls"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomPrice) <span>@locaizer["$"]</span>
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-dark">@locaizer["Edit"] </a> |
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-info">@locaizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-outline-danger">@locaizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
